.tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-tags-topics, .article-tags-createdFor {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.article-tags-name {
  font-size: var(--spectrum-body-size-xs);
  color: var(--non-spectrum-grey-updated);
}