.profile-welcome-block {
    display: flex;
}

.profile-curated-card,
.profile-user-card {
  flex: 1;
}

.profile-welcome-block .profile-curated-card {
    display: flex;
    flex-direction: column;
}

.profile-welcome-block .profile-user-card {
    display: flex;
}

.profile-user-card .profile-user-card-left{
    display: flex;
    flex-direction: column;
}

.profile-user-card .profile-user-card-right{
    display: flex;
    flex-direction: column;
}

.profile-user-card-left .profile-user-card-avatar-company-info {
    display: flex;
}

.profile-user-card-avatar {
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--non-spectrum-navy-blue);
    color: var(--spectrum-gray-50);
    overflow: hidden;
}

.profile-user-card-avatar .icon-profile {
    width: 64px;
    height: 64px;
}

